{{template "base" .}}
<style>
    .container{
        height: 44em;
    }

</style>

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">About Small Hope Bay Lodge</h1>
            <hr>

            <p>
                <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png">

                Your perfect retreat nestled along the serene shores of the Atlantic Ocean. At Small Hope Bay Lodge, we combine timeless charm with modern comforts, offering a truly unforgettable experience for all our guests. Whether you're seeking a peaceful getaway or a special place to celebrate a momentous occasion, our lodge is the ideal destination.
            </p>

            <p>
               Our commitment to providing exceptional hospitality and a personalized experience ensures that each stay is unique. We take pride in offering accommodations that cater to every type of traveler, from those seeking a cozy and comfortable space to unwind, to guests looking for luxurious, spacious suites. The picturesque setting, coupled with our thoughtful service, makes Small Hope Bay Lodge the perfect choice for those looking to escape the hustle and bustle of everyday life.
            </p>

            <p>
                Located in the heart of Andros Town, The Bahamas, we are proud to offer a peaceful oasis that still provides easy access to the surrounding area's best attractions, including local shops, scenic views, and recreational activities. The lodge is housed in a beautifully restored historic building, blending old-world charm with modern amenities. Each of our rooms has been thoughtfully designed to provide the utmost comfort, ensuring that your stay is nothing short of exceptional.
            </p>
            <p>
                At Small Hope Bay Lodge, we believe that every guest deserves a memorable stay, and we go above and beyond to ensure that your visit exceeds expectations. From our luxurious Major's Suite to the charming General's Quarters, every detail is carefully curated for your comfort and enjoyment. Book your stay today and discover why Small Hope Bay Lodge is the perfect destination for your next getaway.
            </p>
            <p>
                We understand that every guest has unique needs and desires, which is why we offer a range of accommodations, from intimate rooms to expansive suites, ensuring that your stay is tailored to your preferences. Whether you're here for a romantic retreat, a family vacation, or a solo escape, our tranquil atmosphere and personalized service promise to make your visit truly special. Enjoy breathtaking views of the Atlantic Ocean, explore the surrounding nature trails, or simply relax in the comfort of your room. We're dedicated to making your stay an unforgettable experience, one that will leave you refreshed and rejuvenated.
            </p>
        </div>
    </div>
</div>
{{end}}