{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Contact Us</h1>
                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57989.406475462914!2d-77.91612473779865!3d24.715277052934674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f358c00000000%3A0x74da389373fb9d1b!2sSmall%20Hope%20Bay%20Lodge!5e0!3m2!1sen!2sin!4v1737353178864!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>

                    <div class="col-md-6 text-center">

                        <strong>Small Hope Bay Lodge</strong><br>
                        Queen's highway<br>
                        Andros Town, The Bahamas<br>
                        USA<br>
                        (+1) 5555-1212<br>
                        <a href="mailto:info@smbl.com">info@smbl.com</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
{{end}}