{{template "base" .}}

{{define "content"}}

    <div class="container">


        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.jpg"
                     class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    Step into General's Quarters, where modern elegance meets cozy comfort. Designed for both business and leisure travelers, this room offers a sophisticated atmosphere with ample space to unwind. Whether you're here for work or relaxation, you'll find all the amenities you need at your fingertips. Enjoy the perfect balance of comfort and functionality in General's Quarters, whether you're here for a short stay or an extended visit.<br>

                    <b>Room Features:</b><br>
                    <ul>
                        <li>King-size bed with luxury linens</li>
                        <li>Spacious work desk with ergonomic chair</li>
                        <li>Smart TV with streaming services</li>
                        <li>High-speed Wi-Fi</li>
                        <li>En-suite bathroom with premium toiletries</li>
                        <li>Climate control system for personalized comfort</li>
                        <li>Complimentary refreshments and snacks</li>
                    </ul>
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">
                <p><b>Book your stay in General's Quarters today and enjoy a luxurious, relaxing experience.</b></p>
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

            </div>
        </div>




    </div>

{{end}}


{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: 'yyyy-mm-dd',
                    showOnFocus: true,
                    minDate: new Date(),    
                })
            },
            didOpen: () => {
                document.getElementById("start").removeAttribute("disabled");
                document.getElementById("end").removeAttribute("disabled");
            },
            callback: function(result) {
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", "1");

                fetch('/search-availability-json', {
                    method: "post",
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.ok) {
                            attention.custom({
                                icon: 'success',
                                showConfirmButton: false,
                                showCancelButton: false,
                                msg: '<p>Room is available</p>'
                                      + '<p><a href="/book-room?id='
                                      +  data.room_id
                                      + '&s='
                                      + data.start_date
                                      + '&e='
                                      + data.end_date
                                      + '" class="btn btn-primary">'
                                      + 'Book Now!</a></p>',
                            })
                        } else {
                            attention.error({
                                msg: "No availability",
                            })
                        }
                        
                    })
            }
        });
    })
</script>
{{end}}